/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: "Lato", "Arial", sans-serif;
  background-color: #ffffff;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
