.catalog-card {
  align-items: center;
}

.catalog-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-card__product-specifications {
  @include list;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__button {
  display: block;
  width: 280px;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
