.catalog {
  @media (min-width: $width-tablet) {
    margin-bottom: 34px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 102px;
  }
}

.catalog__wrapper {
  max-width: 1220px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 35px;
    padding-left: 30px;
    margin: 0 auto;
    border: 0;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    border: 0;
    margin: 0 auto;
    padding: 16px 0;
    }
  }

.catalog__wrapper-title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 28px 20px 40px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    padding: 0;
  }
}

.catalog__list {
  display: grid;
  row-gap: 11px;
  margin: 0 auto;
  @include list;

  @media (min-width: $width-tablet) {
    width: 708px;
    grid-template-columns: 324px 324px;
    gap: 60px;
    margin-top: 84px;
  }

  @media (min-width: $width-desktop) {
    width: 1220px;
    grid-template-columns: repeat(4,245px);
    column-gap: 80px;
    row-gap: 56px;
    margin: 0;
    padding: 75px 0;
  }
}

.catalog__title {
  line-height: 36px;
}
