.example {
  background-color: #eaeaea;

  @media (min-width: $width-tablet) {
    min-height: 1112px;
  }
}

.example__wrapper {
  @include base-wrapper;
  max-width: 1220px;

  @media (min-width: $width-tablet) {
    padding: 0 20px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 366px 1fr;
    column-gap: 18px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 32px;
  padding: 6px 0 0 0;

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 124px 124px;
    gap: 32px;
    padding: 6px 0 0;
    grid-column: 1/1;
  }
}

.example__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 25px 0 11px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    margin-bottom: 33px;
  }
}

.example__description {
  @media (min-width: $width-tablet) {
    grid-column: 1/-1;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/1;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__weight,
.example__days {
  @include list;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding-top: 14px;
  row-gap: 8px;
}

.example__weight-title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  @media (min-width: $width-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__weight-description {
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background: #eaeaea;
  position: relative;
  width: 77px;
  text-transform: lowercase;
  word-break: break-word;
  padding: 8px 25px 0px 22px;
  margin: 0;
}

.example__result {
  display: flex;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  justify-content: center;
  padding-bottom: 12px;
  gap: 5px;

  @media (min-width: $width-tablet) {
    display: flex;
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 28px;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 23px;
  }
}

.example__button {
  bottom: 50%;
  left: 45%;
  background: 0 0;
  position: absolute;
  background: transparent;

  @media (min-width: $width-tablet) {
    bottom: 12%;
    left: 46%;
  }

  &:hover path {
    fill: #68b738;
  }
}
