.footer {
  display: block;
  background: #f2f2f2;
  margin: 0 auto;
}

.footer__wrapper {
  @include base-wrapper;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1220px;

  @media (max-width: $width-tablet) {
    align-items: center;
    flex-direction: column;
    padding: 55px 30px;
  }
}

.footer__academy {
  display: flex;
  width: 168px;
}

.footer__academy-logo {
  text-decoration: none;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.footer__academy-logo--icon {
  fill: #444444;
  gap: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    fill: #68b738;
  }
}

.footer__logotype {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
