.form-text {
  @include base-wrapper;
  max-width: 1220px;

  @media (min-width: $width-tablet) {
    padding: 0 70px;
  }
}

.form-text__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 74px 38px 0;
  width: 226px;
  margin: 0;
  margin-top: -3px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-top: 57px;
  }
}
