.form {
  @include base-wrapper;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 1220px;

  @media (min-width: $width-tablet) {
    padding: 0 70px;
    margin-top: 28px;
    font-size: 20px;
  }
}

.form__group {
  display: flex;
  width: 280px;
  justify-content: left;
  align-items: center;
  gap: 13px;
  position: relative;

  @media (min-width: $width-tablet) {
    gap: 14px;
    width: auto;
    padding-bottom: 7px;
  }
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
}

.form__fieldset--target {
  padding: 29px 0px 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  gap: 24px;

  @media (min-width: $width-tablet) {
    padding: 33px 0 29px 40px;
    border: 1px solid #d9d9d9;
    display: flex;
    gap: 27px;
    margin-top: -37px;
  }
}

.form__fieldset-contact {
  @media (min-width: $width-tablet) {
    margin-top: 23px;
  }
}

.form__fieldset--radio {
  border: 1px solid #e7e7e7;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form__label {
  flex-shrink: 0;
}

.form__control {
  padding: 10px 16px;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  flex-grow: 1;
  width: 100px;
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    padding: 10px 18px;
  }
}

.form__legend {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding-top: 26px;
  text-transform: none;
  padding-bottom: 33px;
  margin-left: -2px;

  @media (min-width: $width-tablet) {
    padding-top: 42px;
  }
}

.form__legend-wrapper {
  position: relative;
}

.form__legend-list {
  @include list;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 33px;
    display: grid;
    margin: 23px 0 0 -2px;
  }
}

.form__legend--title {
  text-transform: none;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}

.form__legend-commit {
  margin-top: -26px;
  margin-left: -2px;

  @media (min-width: $width-tablet) {
    margin: 0 0 0 -2px;
    font-size: 36px;
    line-height: 36px;
    padding-top: 35px;
  }
}

.form__legend-add {
    margin-top: -26px;
    margin-left: -2px;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 0 -2px;
    padding-top: 41px;
  }
}

.form__control--textarea {
  margin-top: 8px;
  min-width: 249px;

  @media (min-width: $width-tablet) {
    margin-top: 55px;
    min-width: 587px;
    height: 141px;
    padding: 16px 20px;
  }
}

.form__group--email {
  position: relative;

  @media (min-width: $width-tablet) {
    margin-top: 43px;
  }

  &::after {
    content: "";
    mask-image: url(/images/icons/icon-email-form.svg);
    mask-repeat: no-repeat;
    background-color: #000000;
    mask-position: right;
    width: 20px;
    position: absolute;
    left: 249px;
    height: 20px;

    @media (min-width: $width-tablet) {
      left: 594px;
      position: absolute;
    }
  }
}

.form__group--tel {
  &::after {
    content: "";
    mask-image: url(/images/icons/icon-phone-form.svg);
    mask-repeat: no-repeat;
    background-color: #000000;
    mask-position: right;
    width: 20px;
    position: absolute;
    left: 249px;
    height: 20px;

    @media (min-width: $width-tablet) {
      left: 594px;
      position: absolute;
    }
  }
}

.form__cat-data-purposes {
  display: block;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    gap: 80px;
  }
}

.form__radio {
  position: relative;
}

.form__radio-circle {
  position: relative;

  &::after {
    position: absolute;
    left: -15px;
    width: 28px;
    height: 28px;
    border: 1px solid;
    border-radius: 50%;
    content: "";
    display: block;
    top: -5px;

    @media (min-width: $width-tablet) {
      position: absolute;
      left: -30px;
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
    }
  }
}

.form__radio-circle-text {
  padding-left: 30px;
}

.form__radio-label {
  position: relative;
  left: 10px;
}

.form__radio[type="radio"]:checked +
.form__radio-circle::before {
  position: absolute;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  content: "";
  bottom: 0;
  background-color: #68b738;
  top: 43%;
  transform: translate(-50%, -50%);

  @media (min-width: $width-tablet) {
    height: 17px;
    width: 17px;
    position: absolute;
    top: 47%;
    transform: translate(-107%,-50%);
  }
}

.form__group-square {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    transform: rotate(0deg);

    @media (min-width: $width-tablet) {
      width: 40px;
      height: 40px;
      content: "";
    }
  }
}

.form__checkbox[type="checkbox"]:checked +
.form__group-square::before {
  position: absolute;
  content: "";
  background-image: url("/images/icons/icon-tick-form.svg");
  margin-top: 30%;
}

.form__group-square-text {
  padding-left: 45px;
  margin-top: 9px;
  align-items: center;
  display: flex;

  @media (min-width: $width-tablet) {
    margin: 13px 0 0 16px;
  }
}

.form__checkbox-label {
  display: block;
  padding-left: 1px;
}

.form__button {
  font-family: "Oswald", sans-serif;
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 18px;

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 284px;
    padding: 14px 45px;
    font-size: 20px;
    line-height: 26px;
    height: auto;
    margin-top: 33px;
  }
}

.form__button-list {
  display: flex;
}

.form__button-info {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin-top: 22px;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 27px 0 0 57px;
    font-size: 16px;
    line-height: 16px;
  }
}
