.form-text {
  @include base-wrapper;
  max-width: 1220px;
}

.form-text__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 74px 38px 0;
  width: 226px;
  margin: 0;
  margin-top: -3px;
}
