.gift {
  background-image:
    image-set(
      url("/images/backpack-mobile@1x.png") type("image/png") 1x,
      url("/images/backpack-mobile@2x.png") type("image/png") 2x
    );
  min-width: 280px;
  min-height: 290px;
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
}

.gift__offer-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
