.gift {
  width: 279px;
  height: 289px;
  margin: 0 auto;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
    url("/images/backpack-mobile@1x.png") type("image/png") 1x,
    url("/images/backpack-mobile@2x.png") type("image/png") 2x
    );
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  &::before {
    content: url("/images/icons/icon-gift.svg#icon-gift");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56px;
  }

  @media (min-width: $width-tablet) {
    background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
    url("/images/backpack-tablet@1x.png") type("image/png") 1x,
    url("/images/backpack-tablet@2x.png") type("image/png") 2x
    );
    width: 707px;
    height: 200px;
    margin: 0 auto;
    border: 0;
    box-shadow: none;
  }

  &::before {
    content: url(/images/icons/icon-gift.svg#icon-gift);
    position: absolute;
    left: 117px;
    transform: translateX(-50%);
    top: 58px;
  }
}

.gift__offer-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 170px 60px 43px 57px;



  @media (min-width: $width-tablet) {
    padding: 71px 125px 69px 421px;
    text-align: left;
  }
}
