.header {
  display: block;

  @media (min-width: $width-desktop) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      min-height: 694px;
      top: -117px;
      z-index: -1;
      background-color: #4d4b50;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set(
        url("../../images/index-background-desktop-1@1x.png") type("image/png") 1x,
        url("../../images/index-background-desktop-1@2x.png") type("image/png") 2x
        );
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      right: 0;
      top: 0;
    }
  }
}
