.main-header {
  padding: 11px 20px;
  margin: 0 auto;
  max-width: 1220px;

  @media (min-width: $width-tablet) {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 25px 30px;
    justify-content: space-between;
    max-width: 1220px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    margin: 0 auto;
    padding: 55px 20px;
  }
}

.main-header__logotype {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $width-tablet) {
    margin: 0 auto;
    gap: 56px;
  }

  @media (min-width: $width-tablet) {
    column-gap: 12px;
    grid-template-columns: 60px 1fr;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 71px 1fr;
  }
}

.main-header__text {

  @media (min-width: $width-tablet) {
    margin-top: -4px;
  }

  @media (min-width: $width-desktop) {
    width: 118px;
    height: 21px;
  }
}
