.main-nav__item {
  @include list;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #68b738;
  left: 0;
  right: 0;
}
