.product-more__title {
  color: #111111;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-more__description {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product-more__button {
  display: block;
  background: #f2f2f2;
  color: #444444;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #444444;
    background: #ebebeb;
  }

  &:active {
    color: #444444;
    background: #ebebeb;
  }
}

.product-more--icon {
  display: block;
  margin: auto;
}
