.program {
  padding: 20px;
}

.program__wrapper {
  min-width: 280px;
  margin: 0 auto;
}

.program__list {
  @include list;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.program__card {
  background: #f2f2f2;
}

.program__card--head {
  padding: 21px 20px 18px;
  display: flex;
  position: relative;
}

.program__title {
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  bottom: 20px;
  position: absolute;
  left: 90px;
  top: 5px;
}

.program__description {
  padding: 3px 33px 23px 20px;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    width: 240px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.program__link {
  color: #000;
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 19px 121px 22px 20px;
  display: block;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    width: fit-content;
    padding-right: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 60px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link--arrow {
  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-size: 32px 10px;
    background-position: -8px;
    overflow: hidden;
    position: absolute;
    margin-left: 15px;
  }

  &:hover {
    overflow: visible;
  }
}

.program__cat-slim {
  position: relative;
  width: 36px;
  height: 50px;
  bottom: 3px;
  right: 44px;

  @media (min-width: $width-tablet) {
    right: 75px;
    top: 81px;
    width: 140px;
    height: 194px;
    position: absolute;
  }

  @media (min-width: $width-desktop) {
    left: 18px;
    top: calc(50% - 60px);
    width: 70px;
    height: 97px;
    position: absolute;
  }
}

.program__cat-pro {
  position: relative;
  width: 67px;
  height: 28px;
  right: 58px;
  top: 15px;

  @media (min-width: $width-tablet) {
    right: 27px;
    top: 130px;
    width: 268px;
    height: 112px;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $width-desktop) {
    left: -18px;
    top: calc(50% - 54px);
    width: 134px;
    height: 56px;
  }
}

.program__circle {
  position: relative;
  width: 50px;
  height: 50px;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 92px;
    right: 62px;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 2px;
    content: "";
    border-radius: 50%;
    background-color: #68b738;
    top: calc(50% - 56px);
  }
}
