.program {
  padding: 20px;
}

.program__wrapper {
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 708px;
    margin-top: -25px;
  }


  @media (min-width: $width-desktop) {
    width: 1220px;
  }
}

.program__list {
  @include list;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @media (min-width: $width-tablet) {
    gap: 32px;
  }

  @media (min-width: $width-desktop) {
    display: -webkit-inline-box;
    gap: 80px;
  }
}

.program__card {
  background: #f2f2f2;
  position: relative;
  padding: 19px 0 0px 0px;

  @media (min-width: $width-tablet) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 316px;
    padding: 52px 77px 55px 32px;
    max-height: 372px;
  }

  @media (min-width: $width-desktop) {
    width: 528px;
    display: flex;
    padding: 41px 0 0 42px;
    flex-direction: column;
    height: 334px;
  }
}

.program__title {
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding: 10px 0 23px 20px;
  margin: 0;
  margin-left: 70px;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 15px;
  }

  @media (min-width: $width-desktop) {
    padding: 21px 0 69px 172px;
  }
}

.program__description {
  padding: 4px 33px 23px 20px;
  margin: 0;
  position: relative;

  @media (min-width: $width-tablet) {
    margin: 0;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 81px 0 0 -283px;
  }

  @media (min-width: $width-desktop) {
    width: auto;
    margin: 0;
    margin-left: -10px;
  }

  &::after {
    content: "";
    width: 240px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $width-tablet) {
      display: none;
    }
  }
}

.program__link {
  color: #000000;
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 19px 121px 22px 20px;
  display: block;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 30px 0 0 20px;
  }

  @media (min-width: $width-desktop) {
    padding: 4px 0 0 11px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link--arrow {
  margin-left: 0;
  top: 0;

  &::after {
    content: "";
    width: 35px;
    height: 11px;
    background: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-position: right 8px center;
    overflow: hidden;
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-position 0.2s ease;

    @media (min-width: $width-tablet) {
      margin-left: 26px;
      top: 76%;
    }

    @media (min-width: $width-desktop) {
      margin-left: 25px;
      top: 57%;
    }
  }

    &:hover::after,
    &:focus::after {
    background-position: right center;
  }

    &:active::after {
    opacity: 0.3;
  }
}

.program__cat-slim {
  position: absolute;
  width: 36px;
  height: 50px;
  left: 27px;

  @media (min-width: $width-tablet) {
    left: 475px;
    top: 82px;
    width: 140px;
    height: 194px;
    position: absolute;
  }

  @media (min-width: $width-desktop) {
    left: 67px;
    top: calc(50% - 146px);
    width: 70px;
    height: 97px;
    position: absolute;
  }
}

.program__cat-pro {
  position: absolute;
  width: 67px;
  height: 28px;
  left: 13px;
  top: 33px;

  @media (min-width: $width-tablet) {
    width: 268px;
    height: 112px;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    left: 415px;
    top: 135px;
  }

  @media (min-width: $width-desktop) {
    left: 35px;
    top: calc(50% - 120px);
    width: 134px;
    height: 56px;
  }
}

.program__circle {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  margin-left: 21px;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 88px;
    left: 424px;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    height: 100px;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #68b738;
    top: calc(50% - 142px);
    left: 31px;
  }
}
