.promo {
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
    url("/images/index-background-desktop-2@1x.png") type("image/png") 1x,
    url("/images/index-background-desktop-2@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-color: #4f4e53;
  background-position: center top;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 35px 0 36px;
  font-weight: 400;
}

.promo__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.promo__img {
  padding-top: 29px;
}

.promo__link {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 44px;
  text-decoration: none;
}
