.promo {
    background-repeat: no-repeat;
    background-position: center top;
    color: #ffffff;
    text-align: center;
    background-size: auto 302px;
    background-image: url("../../images/index-background-desktop-2@2x.jpg"), linear-gradient(#63a63b,#63a63b 302px,#fff 302px);

  @media (min-width: $width-tablet) {
    background-image: none;
    background-color: #ffffff;
    position: relative;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    background: transparent;
  }
}

.promo__wrapper {
  @include base-wrapper;
  padding: 0;
  max-width: 1220px;

  @media (min-width: $width-desktop) {
    min-height: 608px;
    position: relative;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 26px 35px 27px;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    color: #000000;
    width: 434px;
    line-height: 60px;
    text-align: left;
    padding-left: 120px;
    padding-top: 37px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 50px;
    padding-left: 80px;
    text-align: left;
  }
}

.promo__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 120px;
    padding-top: 11px;
    color: #000000;
  }

  @media (min-width: $width-desktop) {
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: -40px;
    margin-top: 3px;
  }
}

.promo__img {
  padding-top: 29px;

  @media (min-width: $width-tablet) {
    padding-top: 22px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    bottom: 139px;
    right: 220px;
  }
}

.promo__link {
  color: #ffffff;
  font-family: Oswald, "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  width: 280px;
  margin: 0 auto;
  display: block;

  @media (min-width: $width-tablet) {
    padding: 17px;
    font-size: 20px;
    line-height: 20px;
    width: 210px;
    position: absolute;
    top: 265px;
    left: 120px;
  }

  @media (min-width: $width-desktop) {
    left: 80px;
    width: 210px;
    top: 281px;
  }
}
