.slideshow {
  display: block;
  position: relative;
  width: 280px;
  height: 256px;
}

.slideshow__arrow {
  background: url("/images/icons/two-arrows.svg#two-arrows");
  background-color: transparent;
  background-repeat: repeat;
  position: absolute;
  width: 24px;
  height: 18px;
  display: block;
  bottom: 50%;
  left: 48%;
}

.slideshow__slide--cat-max {
  display: block;
  position: relative;
}

.slideshow__slide--cat-min {
  display: block;
  position: absolute;
}

.example__button {
  bottom: 50%;
  left: 50%;
  background: transparent;
}
