.slideshow {
  display: block;
  position: relative;
  width: 280px;
  height: 256px;
  padding: 0 20px 40px;
  margin: 0 auto;

  &::before {
    content: "";
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
    top: 37%;
    background: #ffffff;
    stroke-width: 2px;
    border-radius: 50%;
    border: 2px solid #666666;
    left: 50%;
    transform: translateX(-48%);
    z-index: 1;
  }

  &::after {
    content: "";
    display: flex;
    width: 4px;
    height: 256px;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 2px;
    background: #666666;
    left: 49%;
    z-index: 0;
  }

  &:hover {
    color: #68b738;
  }

  @media (min-width: $width-tablet) {
    width: 592px;
    margin: 0 auto;
  }
}

.slideshow__arrow {
  background: url("/images/icons/two-arrows.svg#two-arrows");
  background-color: transparent;
  background-repeat: repeat;
  position: absolute;
  width: 24px;
  height: 18px;
  display: block;
  bottom: 53%;
  left: 47%;
  z-index: 1;
}

.slideshow__slide--cat-max {
  display: block;
  position: absolute;
}

.slideshow__slide--cat-min {
  display: block;
  position: absolute;
}
