.social {
  display: flex;
  gap: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  @media (min-width: $width-tablet) {
    border: none;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    border: none;
    padding: 0;
  }
}

.social__item {
  @include list;
}

.social__link--youtube,
.social__link--vk,
.social__link--telegram {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #444444;
    opacity: 0.3;
  }
}
