.social {
  display: block;
}

.social__item {
  @include list;
}

.social__link--vk,
.social__link--youtube,
.social__link--telegram {

  &:hover path {
    fill: #68b738;
  }

  &:active path {
    fill: #444444;
    opacity: 0.3;
  }
}
