.social {
  display: flex;
  gap: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 24px 0;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @media (min-width: $width-tablet) {
    border: 0;
    padding: 2px 0 0 153px;
  }

  @media (min-width: $width-desktop) {
    border: 0;
    padding-left: 35px;
  }
}

.social__item {
  @include list;
}

.social__link--youtube,
.social__link--vk,
.social__link--telegram {
  fill: #666666;
  width: 28px;
  display: block;
  height: 22px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #444444;
    opacity: 0.3;
  }
}
