.welcome {
  background-color: #ffffff;
}

.welcome__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2,140px);
  background: #fff;

  @media (min-width: $width-tablet) {
    padding: 59px 40px;
    grid-template-columns: 175px 175px;
    justify-content: space-between;
    display: grid;
  }
}

.welcome__title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.welcome__address {
  font-size: 14px;
  line-height: 20px;
}

.welcome__map {
  display: block;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $width-tablet) {

    height: 400px;
  }
}
