.welcome {
  background-color: #ffffff;
}

.welcome__wrapper {
  padding: 26px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;

  @media (min-width: $width-tablet) {
    padding: 59px 40px;
    grid-template-columns: 175px 175px;
    justify-content: space-between;
    display: grid;
  }
}

.welcome__title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
